@import "tailwindcss";
@config "../../tailwind.config.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* .swiper {
    @apply md:h-[35rem] object-fill bg-center;
} */

/* img slide */
.img-slide {
    @apply w-full md:h-140 h-120 bg-center object-cover rounded-lg;
}

.swiper-button-prev::after {
    font-size: 20px;
    font-weight: 900;
}

.swiper-button-next::after {
    font-size: 20px;
    font-weight: 900;
}

.background-desc:first-of-type::first-letter {
    @apply text-4xl font-serif text-sky-800 float-left mr-2 mt-[-10px] opacity-80;
}
